.card-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
}

@media (min-width: 40rem) {
  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 48rem) {
  .card-group {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 64rem) {
  .card-group {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 96rem) {
  .card-group {
    grid-template-columns: repeat(5, 1fr);
  }
}
